h1 {
    color:red;
}

div h1 {
    color: blue;
}

p {
    /*font-size: 25px;*/
    /*font-weight: bold;*/
    /*text-decoration: underline;*/
    /*font-style: italic;*/
}

#second-header {
    font-size:1.5em;
    color:green;
}

#s1 {
    color:red;
}
.special {
    color: purple;
}
.underlined {
    text-decoration: underline;
}
.padded p {
    padding: 10px;
    margin: 10px;
}

.bordered {

    border: 5px solid black;
    /*border-width: 5px;*/
    /*border-style: double;*/
    /*border-color: red;*/


    border-radius: 10px;
}
